
html, body {
height: 100%;
background-color: #f6deab;
font-family: "Yanone Kaffeesatz";
font-weight: 100;
}

#inhalt, #content_1, #content_2{
height: 510px;
}

#container {
height: 100%;
}

#bar{
height: 25px;
}

#mini_login{
margin-top: -30px;
}

#login, #reg, #warenkorb{
height: 25px; 
padding-top: 5px;
text-align: right;
}


#inhalt {
margin-top: 60px;
background-color: #FF7F00;

}

#content_1{
}

#logo{
margin-top: 25px;
}

h1 {
padding-top: 80px;
text-align: right;
font-size: 18pt;
color: #FFEEC2;
font-stretch: ultra-condensed;
letter-spacing:0.1em;
font-weight: 100;
}

p{
margin-top: 15px;
text-align: right;
font-size: 13pt;
line-height: 1.5;
}

#menu{
height: 22px;
margin-top: 45px;
text-align: right;
}

#Roesterei, #Rubrikauswahl, #Kontakt{
text-align: right;
font-size: 13pt;
}

#content_2{
}

#img{
height: 510px;
}

#note{
height: 120px;
z-index: 2;
margin-top: -540px;
left: 260px;
background-image: url(../img/note.png);
background-repeat: no-repeat;
color: white;
padding-top: 20px;
text-align: center;
line-height:100%;
font-size: 18pt;
}

#footer{
margin-top: 5px;
text-align: center;
font-size: small;
font-stretch: wider;
}