<h2>{$lang.forgotpassword}</h2>

{if $error eq "notexist"}
<p>{$lang.emailDoesntExist}</p>
{/if}

{if $substage ne "sent"}
<form class="password" action="{$config.Security.BaseSSL}/{$url}password/index.html" method="post">

	
		<fieldset>
		<p><label for="forgotEmail">{$lang.regEmail}</label>
			<input type="text" name="pEMAIL" id="forgotEmail" value="{$smarty.post.reg.regEmail}" /></p>
		</fieldset>
		
		<input type="hidden" class="hidden" value="register" name="action" />
		<input type="hidden" class="hidden" value="{$smarty.request.basket}" name="basket" />
		<input type="hidden" class="hidden" value="{$usersettings}" name="settings" />
		<input type="hidden" class="hidden" value="{$mode}" name="mode" />
		<input type="hidden" class="hidden" value="{$lastpage}" name="lastpage" />
		<p><input type="submit" class="button" value="{$lang.sendMeThePassword}" /></p>
	
		
</form>
{else}
		<p>{$lang.passwordWasReset}<br />{$lang.pleaseCheckEmail}</p>
{/if}